/* Creates the background of the pages of the app */

/* Introduces the Chunkfive font family into the stylesheet */
@font-face {
    font-family: 'Chunkfive';
    src: url('../fonts/chunkfive-webfont.eot');
    src: url('../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunkfive-webfont.woff') format('woff'),
         url('../fonts/chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/chunkfive-webfont.svg#chunkfive') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Setting the DEFAULT settings for a paragraph
 * used in this app. Do NOT touch this without permission.
 */
p {
	color: white;
	font-family: arial;	
	font-size: 16px;
}

.mini-head {
	font-weight: bold;
	margin-bottom: 15px;

}

h1, h2 {
	font-family: sans-serif;
	color: white;
	font-size: 24px;
}



a {

	text-decoration: none;
	color: white;
	font-family: arial; /*helvetica, geneva, sans serif;*/
}

a:hover{
	color: #EE9A00;
}


.even {

	width: 100%;
	height: 45px;
	border-top: 1px solid #FFFFFF;

}

.odd {

	width: 100%;
	height: 45px;
	border-top: 1px solid #FFFFFF;


}

/* styling for the icons in the help pages */
.icon{

	width: 25px;
	height: 25px;

}

.head-bt {
	width: 50px;
	height: 50px;

}



/* The wrapper for the whole entire app. To be used on every page */
/* See those comment things on the side? IT MEANS DON'T TOUCH!!! */
/**/.wrapper {					/* Darkblue is #00549b */
/**/	background: #00549b;	/* Lightblue is #7ca3dc */
/**/	width: 100%;
/**/	height: auto;
/**/	margin: 0 auto;
/**/}

/* For the generateHeader() function. */
/* See those comment things on the side? IT MEANS DON'T TOUCH!!! */
/**/.header {
/**/	height: auto;
	width: 100%;
/**/	position: fixed;
/**/	background-color: #7ca3dc;
	z-index: 10;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);	
/**/}
/**/
/**/.title {
/**/
/**/	height: auto;
/**/	position: relative;
/**/	left: 25px;
/**/	line-height:50px;
/**/	display: inline-block;
/**/	font-size: 30px;
/**/	font-family: Chunkfive, arial, helvetica, sans-serif;
/**/}
/**/
/**/
/**/.home {
/**/	float: right;
/**/	/*border-right: 1px solid #003366;*/
/**/	/*border-left: 1px solid #003366;*/
		width:50px;
		height:50px;
/**/}
/**/
/**/.help {
/**/	float: right;
/**/	width:50px;
		height:50px;
/**/
/**/}
/*smartphones*/
/*
@media only screen and (max-device-width: 320px) and (max-width:320px){
.header {
	height: 120px;
	width: 100%;
	position: fixed;
	background-color: #7ca3dc;
	z-index: 10;
	white-space: nowrap;
}
.title {
	position:relative;

	line-height: 120px;
	font-size: 6em;
}
#help-bt, #fav-bt, #settings-bt, #home-bt{
	width:120px;
	height:auto;
}
}*/

/* Classes for the buttons */
.button {
	text-align: center;
	padding: 10px;
	height: 20px;
	
	position: relative;
	display: inline-block;
}

.button-text {
	position: relative;

}

.bt-yellow{
	border:1px solid #ffad41; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:18px;
	font-family: Arial, helvetica, sans-serif; 
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight:bold; 
	color: #FFFFFF;
	background-color: #ffc579; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23));
	background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
	background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
	background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
	background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
	background-image: linear-gradient(to bottom, #ffc579, #fb9d23);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);
}

.bt-yellow:hover{
	 border:1px solid #ff9913;
	 background-color: #ffaf46; 
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaf46), to(#e78404));
	 background-image: -webkit-linear-gradient(top, #ffaf46, #e78404);
	 background-image: -moz-linear-gradient(top, #ffaf46, #e78404);
	 background-image: -ms-linear-gradient(top, #ffaf46, #e78404);
	 background-image: -o-linear-gradient(top, #ffaf46, #e78404);
	 background-image: linear-gradient(to bottom, #ffaf46, #e78404);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffaf46, endColorstr=#e78404);
}


.bt-blue {
	border:1px solid #ffad41; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:24px;
	font-family: Chunkfive, arial, helvetica, sans-serif; 
	text-decoration:none; 
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight:bold; 
	color: #FFFFFF;
	background-color: #ffc579; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23));
	background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
	background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
	background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
	background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
	background-image: linear-gradient(to bottom, #ffc579, #fb9d23);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);

	width: 250px;
	height: 50px;
	margin: auto;
	display: block;
	text-align: center;
}

.bt-blue:hover{
	 border:1px solid #ff9913;
	 background-color: #ffaf46; 
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaf46), to(#e78404));
	 background-image: -webkit-linear-gradient(top, #ffaf46, #e78404);
	 background-image: -moz-linear-gradient(top, #ffaf46, #e78404);
	 background-image: -ms-linear-gradient(top, #ffaf46, #e78404);
	 background-image: -o-linear-gradient(top, #ffaf46, #e78404);
	 background-image: linear-gradient(to bottom, #ffaf46, #e78404);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffaf46, endColorstr=#e78404);
}

/* File specific styling */
#start {
	left: 85px;
}



/* For text input forms only. This is mainly for the login and registration pages */
.input {
	position: relative;
	display: inline-block;
	height: 43px;
	
	
}
.pencil {
	display: inline-block;
	position: absolute;
	bottom: 6px;
	width: 30px;
	height: 30px;
	background: url(../images/pencil-left.png) no-repeat; 
	background-size: 100%;
}

.text-input {
	display: inline-block;
	position: relative;
	left: 30px;
	height: 30px;
	border-width: 0px 0px 1px 0px;
	background-color: transparent;
	border-bottom-right-radius: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
	text-indent: 10px;
	color: white;
	width:auto;
}

.text-input::-webkit-input-placeholder { 
	color:#dddddd; 
	text-transform:uppercase; 
	opacity: 50%;
}
