/* A css file dedicated to styling lists.
 * Copyright June 2013 by Henry Lin
 */

h2 {
	text-align: center;
}
 
ul {
 
	list-style: none;
 }
 
/* For the buttons */
#options {
	margin-left: 50px;

}
 
.option {


}