/* A css file dedicated to styling lists.
 * Copyright June 2013 by Henry Lin
 */

h2 {
	text-align: center;
}
 
ul {
 
	list-style: none;
 }
 
/* For the buttons */
#options {
	margin-left: 50px;

}

/* For the checkboxes */
.check {


}

/* For the labels */
.label-for-check {


}

/* For striking through */
.check:checked + .label-for-check {
	text-decoration: line-through;

}