.arrow {
	position: absolute;
	top: 50px;


}

.right {
	right: 0px;

}

.left {
	left: 0px;

}

.title-box {
	height: 50px;
	text-align: center;

}

.title-text {
	position: relative;
	margin: 0 auto;
	top: 30%;
	font-family: Chunkfive;
}