.arrow {
	position: absolute;
	top: 55px;


}

.right {
	right: 0px;

}

.left {
	left: 12px;

}

.title-box {
	height: 50px;
	text-align: center;
	position:relative;
	top:55px;
}

.title-text {
	position: relative;
	margin: 0 auto;
	top: 30%;
	font-family: Chunkfive;
}
#page1 ,#page2{
	position:relative;
	top:55px;
}
.ui-collapsible-content, .ui-collapsible-set .ui-collapsible.ui-last-child {
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
}
.ui-mobile, .ui-mobile body {
	background:#00549b;
}
.ui-mobile .ui-page-active {
	background:#00549b;
}
.ui-body-c{
	text-shadow:none;
}
.ui-icon{
display:none !important;
}
.ui-btn-text{
	font-size: 16px;
	font-weight: normal;
}
.ui-content{
	padding:0px !important;
}

.ui-collapsible-heading{
	-webkit-border-radius: 0;
	border-radius: 0;
}
.ui-collapsible-heading .ui-btn-icon-left .ui-btn-inner {
	padding-left:25px;
}
.ui-collapsible-inset .ui-collapsible-content {
	padding: 1em 2.2em;
	line-height:1.3;
	box-shadow: inset 0 2px 10px 5px black;
}
.ui-collapsible-inset .ui-collapsible-content p{
	font-weight:normal;
}
.ui-btn-up-c {
	background-image:none;
	background:#00549b;
	color:white;
	text-shadow:none;
	font-family:arial;
}
.ui-btn-hover-c{
	background:none;
	color:white;
	background-image:none;
}
.ui-btn-down-c:visited,
.ui-btn-down-c:hover,
.ui-btn-down-c a.ui-link-inherit,
.ui-btn-hover-c:visited,
.ui-btn-hover-c:hover,
.ui-btn-hover-c a.ui-link-inherit {
	color: white;
	text-shadow:none;
	font-size:16px;
	font-family:arial;
}
