#main-menu-wrapper {

	margin: 0 auto;
	border-radius: 10px;
	border: 1px solid black;

	height: 600px;
	width: 350px;
	background: #00549b;
	
}
#main-menu-title {
	height: 50px;
	width: 350px;
	background: #789fcd;
}
#help-button {
	float: right;
	height: 50px;
	width: 50px;
}
#main-buttons {
	width: 350px;
}
#news-feed-button {
	height: 175px;
	width: 175px;
	float: left;
}
#progress-button {
	float: left;
	height: 175px;
	width: 175px;
}
#favorites-button {
	float: right;
	height: 175px;
	width: 175px;
}
#tips-button {
	float: left;
	height: 175px;
	width: 175px;
}
#resources-button {
	float: right;
	height: 175px;
	width: 175px;
}
#calendar-button {
	height: 175px;
	width: 175px;
	float: right;
}


.incomplete {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);

}