#main-menu-wrapper {

	margin: 0 auto;
	height: 100%;
	width: 100%;
	background: #00549b;
	text-align: center;
}
#main-menu-title {
	height: 50px;
	width:100%;
	background: #7ca3dc;
	position: fixed;
}
#titleimg{
	float:left;
}
#help-button {
	float: right;
	height: 50px;
	width: 50px;
}
.main-buttons {
	width: 100%;
	vertical-align: middle;
	padding-top: 50px;
}
#level1, #level2, #level3{
	margin: 0 auto;
	width: 100%;
	height: auto;
	font-size: 0;
	line-height: 0;
	text-align: center;
}
.big-icon{
	width:40%;
}

.tablet-buttons{
	width: 100%;
	text-align:center;
	padding-top: 57px;
	display:none;
}
/**/.fav{
/**/	float: right;
/**/	/*border-right: 1px solid #003366;*/
/**/	/*border-left: 1px solid #003366;*/
		width:50px;
		height:50px;
/**/}



/**/.settings{
/**/	float: right;
/**/	/*border-right: 1px solid #003366;*/
		width:50px;
		height:50px;
/**/}

/*mobile phones */
/*
@media only screen and (min-device-width: 320px) {
.main-buttons {
	padding-top: 80px;
}
}*/

/*portrait tablets, portrait ipad*/
/*
@media only screen and (min-device-width:640px) and (max-device-width: 960px){
	.tablet-buttons{
	display:none;
}
	.main-buttons {
	display:inline-block;
	max-width:40%;
}

}*/

/*For landscape tablets*/
@media only screen and (min-device-width:961px) and (orientation:landscape){
	.tablet-buttons{
	display:block;
}
	.main-buttons {
	display:none;
}
}
