#main-menu-wrapper {

	margin: 0 auto;
	height: 100%;
	width: 100%;
	background: #00549b;
	text-align: center;
}
#main-menu-title {
	height: 50px;
	width:100%;
	background: #7ca3dc;
	position: fixed;
}
#titleimg{
	float:left;
}
#help-button {
	float: right;
	height: 50px;
	width: 50px;
}
.main-buttons {
	width: 100%;
	vertical-align: middle;
	padding-top: 57px;
}
#level1, #level2, #level3{
	margin:0 auto;
	width:350px;
	font-size:0;
	line-height: 0;
}

.big-icon {
 	display:block;
	float: left;
	width: 150px;
	height: 150px;
}

@media only screen and (max-width: 320px),(max-device-width: 320px) {
	#news-feed-button, #progress-button,#favorites-button,#tips-button,#resources-button,#calendar-button
 	{
	width:130px;
	margin-left:13px;

	}
}

/**/.fav {
/**/	float: right;
/**/	border-right: 1px solid #003366;
/**/	border-left: 1px solid #003366;
/**/}



/**/.settings {
/**/	float: right;
/**/	border-right: 1px solid #003366;
/**/}


