* {
	margin: 0px;
	padding: 0px;
}

html {
	background-color: white;
	
}
body {
	width: 350px;
	height: 600px;
    background-color:#00549b;
	background-size: 100px 100px;
	background-repeat: no-repeat;
	border: 1px solid gray;
	/* position: relative; */
	margin: auto;
	border-radius: 10px;
}
#header {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border: 1px solid red;
	margin-top: 10px; 
	/* position: relative;
	top: 10px; */
	background-color: #7f95c9;

	position: relative;
}

#header #title {
	margin: 0px 5px 0px 8px;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	color: white;
}

#header #icons {
	display: inline-block;
	border: 1px solid white;
	position: absolute;
	right: 10px;
}
/* tables still need 'cellspacing="0"' in the markup */
table, td {
	border-collapse: collapse;
	border-spacing: 0;
	/* border: 1px solid black; */
	background-color:#00549b;
	cellpadding: 2px; 
	cellspacing: 2px; 
	margin: 0 auto;
	padding: 5px;
	width: 80%;
	overflow: hidden;
	table-layout:fixed;
}


#line {
	margin-top: 10px;
	background-color: #7f95c9;
	height: 10px;

}
