html, body {
	width: 100%;
	height:100%;
	margin: 0 auto;
	background:#00549b;
}

.ch {
	border: 1px solid #00549b;
	padding: 3px 7px 2px 7px;
	width:100%;
}

.ui-disabled {

	opacity: 1;
}


.cell {
	font-size:1em;
	border:1px solid #00549b;
	padding:3px 7px 2px 7px;
	width: 50px;
	font-family: Chunkfive, arial, helvetica, sans-serif;
	color:#ffffff;
}

.nameCell {
	font-size:1em;
	border:1px solid #00549b;
	padding:3px 7px 2px 7px;
	text-align:center;
	font-family: Chunkfive, arial, helvetica, sans-serif;
	color:#ffffff;
}

.ageCell {
	font-size:1em;
	border:1px solid #00549b;
	padding:3px 7px 2px 7px;
	width: 130px;
	font-family: Chunkfive, arial, helvetica, sans-serif;
	color:#ffffff;
}


.age-text {

	font-size: 20px;
	float:right;
}


.child-name {
	font-size: 20px;
	font-family: Chunkfive;
	color: white;
	text-align: center;
	text-overflow: ellipsis;
}


#child-wrapper {
	height: 100px;
	width: 100%;

}

#back {
	margin-left: 25px;

}


/*
#frontpiece {
	width: 100%;

}*/

.tip-item {
	margin: 0 auto;
	display: block;
	
	border-top: 1px solid #cccccc;
	/*border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;*/

	background-image: url("../../images/unpressed-star-button-even.png");
	background-repeat:no-repeat;
	background-position: 97% 50%;
	background-size:40px 40px;
	
}

.tip-item:last-child {
border-bottom: 1px solid #cccccc;
}

.tip-ctn-even-fav, .tip-ctn-even{


	background-image:url("../../images/unpressed-star-button-even.png");
	background-repeat:no-repeat;
	background-position: 97% 50%;
	background-size:40px 40px;
}
.tip-ctn-odd-fav, .tip-ctn-odd{

	background-image: url("../../images/unpressed-star-button-even.png");
	background-repeat:no-repeat;
	background-position: 97% 50%;
	background-size:40px 40px;
}

.tip-ctn-even-fav {
	background-image:url("../../images/star-button.png");
	background-repeat: no-repeat;
	background-position: 97% 50%;
	background-size:40px 40px;
}

.tip-ctn-odd-fav {
	background-image:url("../../images/star-button.png");
	background-repeat: no-repeat;
	background-position: 97% 50%;
	background-size:40px 40px;
}

.tip {
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
	width: 80%;
	display: inline-block;
	color: white;


}
/* For favorite tip entry styling */
.pp-even,
.pp-odd,
.pp{
	position: relative;
	left: 15px;
	font-family: arial, helvetica, sans-serif;
}

.wrapper{

}
