/* Introduces the Chunkfive font family into the stylesheet */
@font-face {
    font-family: 'Chunkfive';
    src: url('../fonts/Chunkfive-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.content {

	margin: 0 auto;
	padding: 0;

}



.inner-text {

	position: relative;
	margin-left: 20px;	
	padding-top: 15px;
	font-family: helvetica, geneva, sans serif

}

/*separate styling for st.joseph since the name is too long*/
.stJoseph {

	position: relative;
	margin-left: 20px;	
	padding-top: 6px;
	font-family: helvetica, geneva, sans serif

}
