/* Introduces the Chunkfive font family into the stylesheet */
@font-face {
    font-family: 'Chunkfive';
    src: url('../fonts/Chunkfive-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.wrapper{
	height:auto;
}
.content {

	margin: 0 auto;
	padding-top: 50px;

}

.textcontent {

	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	font-family: helvetica, geneva, sans serif;
	padding-top:57px;
}

.inner-text {

	position: relative;
	margin-left: 20px;	
	padding-top: 15px;
	font-family: helvetica, geneva, sans serif

}

/*separate styling for st.joseph since the name is too long*/
.stJoseph {

	position: relative;
	margin-left: 20px;	
	padding-top: 6px;
	font-family: helvetica, geneva, sans serif

}
