/* Introduces the Chunkfive font family into the stylesheet */
@font-face {
    font-family: 'Chunkfive';
    src: url('../fonts/Chunkfive-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.content {

	margin: 0 auto;
	padding: 0;

}

a {

	text-decoration: none;
	color: white;
	font-family: helvetica, geneva, sans serif
}

a:hover{
	color: #EE9A00;
}

.even {

	width: 100%;
	height: 45px;
	border-top: 2px solid #003366;
/*	background-color: #CCCCff;*/

}

.odd {

	width: 100%;
	height: 45px;
	border-top: 2px solid #003366;
	background-color: #9999FF;

}

.inner-text {

	position: relative;
	margin-left: 20px;	
	padding-top: 15px;
	font-family: helvetica, geneva, sans serif

}

/*separate styling for st.joseph since the name is too long*/
.stJoseph {

	position: relative;
	margin-left: 20px;	
	padding-top: 6px;
	font-family: helvetica, geneva, sans serif

}
