body{
	margin:0;
}
html{
	width:100%;
	height:100%;
	background:#00549b;
}
ul{
	display:inherit;
}
.checklist-item-text {
	color: #FFF;
	font: 12px/16px Arial, Helvetica, sans-serif;
	position: relative;
	float: left;
}

#checklist{
	-webkit-margin-before: 0;
-webkit-margin-after:0;
}

#health-well-being-wrapper {
	width: 100%;
	height: 100%;
	background: #00549b;
	position: relative;
	margin: 0 auto;
	padding: 0;
}
#health-well-being-title {
	height: 50px;
	width: 100%;
	position:fixed;
	z-index:10;
	background: #7ca3dc;
}
#content-title {
	height: 60px;
	width: 100%;
	padding-top:75px;
	border-bottom: thin solid #769ECF;
}


.title-text {
	display: inline-block;
	padding-top:10px;
	padding-left: 30px;	
	vertical-align: middle;
	line-height: normal;
	font-size: 18px;
	font-family: Chunkfive, arial, helvetica, sans-serif;	
}


#favorite-star-button {
	height: 25px;
	width: 25px;
	float: right;
	padding-right: 15px;
	padding-top: 12px;
}
#content-title img {
	padding-top: 20px;
}


.checklist-item {
	height: 50px;
	width: 350px;
	border-bottom: thin solid #769ECF;
}

/* For striking through */
.check:checked + .label-for-check {
	text-decoration: line-through;

}

.label-for-check {
	color: white;
	font-size: 20px;
	position: relative;
}

#check-box {
	height: 25px;
	width: 25px;
	margin-left: 30px;
	margin-top: 12px;
	float: left;
}
#checklist-item-text {
	height: 50px;
	width: 250px;
	float: left;
}

ul {
	list-style: none;

}

li {
	margin-top: 6px;
	margin-bottom: 6px;

}

#left-right #left {
	position: relative;
	clear: both;
	float: bottom;

}
