
.ch {
	border: 1px solid #00549b;
	padding: 3px 7px 2px 7px;

/*
 border='1' bordercolor='#999999' style= cellpadding='2' cellspacing='2' width='300'
 */
}

.cell {
	font-size:1em;
	border:1px solid #00549b;
	padding:3px 7px 2px 7px;
	width: 50px;
	font-family: Chunkfive, arial, helvetica, sans-serif;
	color:#ffffff;
}

.ageCell {
	font-size:2em;
	border:1px solid #00549b;
	padding:3px 7px 2px 7px;
	width: 50px;
	font-family: Chunkfive, arial, helvetica, sans-serif;
	color:#ffffff;
}

/********************* Style HTML 5 Progress Bars  *****************************************
	Credit: 
	http://www.useragentman.com/blog/2012/01/03/cross-browser-html5-progress-bars-in-depth/
*/

progress,          /* All HTML5 progress enabled browsers */
progress[role]     /* polyfill */
{

	/* Turns off styling - not usually needed, but good to know. */
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	/* gets rid of default border in Firefox and Opera. */ 
	border: none;

	/* Needs to be in here for Safari polyfill so background images work as expected. */
	background-size: auto;
	
	/* Dimensions */
	width: 200px;
	height: 15px;
	
}

/* Polyfill */
progress[role]:after {
	background-image: none; /* removes default background from polyfill */
}

/* Ensure fallback text doesn't appear in polyfill */
progress[role] strong {
	display: none;
}

progress,                          /* Firefox  */ 
progress[role][aria-valuenow] {    /* Polyfill */
   background: #00b83d !important; /* !important is needed by the polyfill */
}


/* IE10 */
progress {
    color: #00b83d;
}

/* Firefox */
progress::-moz-progress-bar { 
    background: #00b83d;	
}

/* Chrome */
progress::-webkit-progress-value {
    background: #00b83d;
}

/* Polyfill */
progress[aria-valuenow]:before  {
    background: #00b83d;
}






/*
	Credit: 
	http://www.useragentman.com/blog/2012/01/03/cross-browser-html5-progress-bars-in-depth/
********************** Style HTML 5 Progress Bars (END) ************************************/


