/*
	This portion is mainly used in index.html (overall progress page)


*/
html{
	background:#00549b;
}
body{
	margin:0;
}
.progressbar{
	height:20px;
	background:#40E823;
	border-radius: 10px;

}
#content{
	width:100%;
	height:100%;
}

.ch {
	border: none; /*1px solid #00549b;*/
	padding: 3px 7px 2px 7px;
	width:100%;
/*
 border='1' bordercolor='#999999' style= cellpadding='2' cellspacing='2' width='300'
 */
}
.wrapper{
	text-align:center;
	padding-top:57px;
}
.cell {
	font-size:1em;
	border: none;/*1px solid #00549b;*/
	padding:3px 7px 2px 7px;
	width: 50px;
	font-family: Chunkfive, arial, helvetica, sans-serif;
	color:#ffffff;
}

.ageCell {
	font-size:1em;
	border: none;/*1px solid #00549b;*/
	padding:3px 7px 2px 7px;
	width: 90px;
	font-family: Chunkfive, arial, helvetica, sans-serif;
	color:#ffffff;


	position: relative;
	top: 15px;
}

/* 
	This portion is mainly used in the Checklist page (child progress page)
	

*/
#child p  {
	padding-top: 7px;
	font: bold 18px Chunkfive, arial, helvetica, sans-serif;
	color:#ffffff;
	text-align:center;
}
#child-wrapper {
	height: 100px;
	width: 100%;
}

#child {
	text-align: center;
}
#child img {
	text-align:center;
}

#right-arrow {
	height: 50px;
	width: 50px;
	float: right;
}
#left-arrow {
	float: left;
	height: 50px;
	width: 50px;
}

.percentage {
	font-size:16px;
	font-family: Chunkfive, arial, helvetica, sans-serif;
	position: relative;
	left: 10px;
}

.pb-ctn {
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 12px;
	color:#ffffff;
}

/****************THE HEALTH BUTTON*******************/

.bt-health {

	font-size:20px;
	font-family: Chunkfive, arial, helvetica, sans-serif;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #d02718;
	padding:10px 30px 5px 30px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f24537), color-stop(100%, #f51400) );
	background:-moz-linear-gradient( center top, #f24537 5%, #f51400 100% );
	background:-ms-linear-gradient( top, #f24537 5%, #f51400 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#f51400');
	background-color:#f24537;
	color:#ffffff;
	display:block;
	text-shadow:2px 0px 0px #810e05;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #f5978e;
 	-moz-box-shadow:inset 1px 1px 0px 0px #f5978e;
 	box-shadow:inset 1px 1px 0px 0px #f5978e;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
}.bt-health:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f51400), color-stop(100%, #f24537) );
	background:-moz-linear-gradient( center top, #f51400 5%, #f24537 100% );
	background:-ms-linear-gradient( top, #f51400 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f51400', endColorstr='#f24537');
	background-color:#f51400;
}.bt-health:active {
	position:relative;
	top:1px;
}

/****************THE LANGUAGE BUTTON*******************/

.bt-lang {
	font-size:20px;
	font-family: Chunkfive, arial, helvetica, sans-serif;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #eeb44f;
	padding:10px 30px 5px 30px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffc477), color-stop(100%, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	background:-ms-linear-gradient( top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	color:#ffffff;
	display:block;
	text-shadow:2px 0px 0px #cc9f52;
	-webkit-box-shadow:inset 1px 1px 0px 0px #fce2c1;
	-moz-box-shadow:inset 1px 1px 0px 0px #fce2c1;
	box-shadow:inset 1px 1px 0px 0px #fce2c1;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
}.bt-lang:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fb9e25), color-stop(100%, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	background:-ms-linear-gradient( top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.bt-lang:active {
	position:relative;
	top:1px;
}

/****************THE SOCIAL BUTTON*******************/

.bt-social {
	font-size:20px;
	font-family:Chunkfive, arial, helvetica, sans-serif;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #84bbf3;
	padding:10px 30px 5px 30px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #bddbfa), color-stop(100%, #80b5ea) );
	background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
	background:-ms-linear-gradient( top, #bddbfa 5%, #80b5ea 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
	background-color:#bddbfa;
	color:#ffffff;
	display:block;
	text-shadow:2px 0px 0px #528ecc;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #dcecfb;
 	-moz-box-shadow:inset 1px 1px 0px 0px #dcecfb;
 	box-shadow:inset 1px 1px 0px 0px #dcecfb;
 	margin-right: 5px;
	margin-left: 5px;
	margin-top: 10px;
}.bt-social:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #80b5ea), color-stop(100%, #bddbfa) );
	background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
	background:-ms-linear-gradient( top, #80b5ea 5%, #bddbfa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
	background-color:#80b5ea;
}.bt-social:active {
	position:relative;
	top:1px;
}
	
/****************THE OTHER BUTTON*******************/
.bt-other {
	font-size: 20px;
	font-family:Chunkfive, arial, helvetica, sans-serif;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #11c47;
	padding:10px 30px 5px 30px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(7%, #3d94f6), color-stop(98%, #263857) );
	background:-moz-linear-gradient( center top, #3d94f6 7%, #263857 98% );
	background:-ms-linear-gradient( top, #3d94f6 7%, #263857 98% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#263857');
	background-color:#3d94f6;
	color:#ffffff;
	display:block;
	text-shadow:2px 0px 0px #1570cd;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	-moz-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	margin-right: 5px;
	margin-left: 5px;
	margin-top: 10px;
}.bt-other:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(28%, #11c47), color-stop(77%, #3d94f6) );
	background:-moz-linear-gradient( center top, #11c47 28%, #3d94f6 77% );
	background:-ms-linear-gradient( top, #11c47 28%, #3d94f6 77% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11c47', endColorstr='#3d94f6');
	background-color:#11c47;
}.bt-other:active {
	position:relative;
	top:1px;
}



/********************* Style HTML 5 Progress Bars  *****************************************
	Credit: 
	http://www.useragentman.com/blog/2012/01/03/cross-browser-html5-progress-bars-in-depth/
*/

.progress,          /* All HTML5 progress enabled browsers */
.progress[role], .detail, .detail[role]     /* polyfill */
{
	/* Turns off styling - not usually needed, but good to know. */
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	/* gets rid of default border in Firefox and Opera. */
	border: solid #cccccc 3px;
	border-radius: 10px;
	
	/* Dimensions */
	width: 100%;
	height: 20px;
	float:left;
}

.detail , .detail[role]{
	width: 80%;
}

/* Polyfill */
.detail[role]:after,
.progress[role]:after {
	background-image: none; /* removes default background from polyfill */
}

/*
 * Background of the progress bar background
 */

/* Firefox and Polyfill */
.detail,
.progress {
	background: #cccccc !important; /* !important only needed in polyfill */
}

/* Chrome */
.detail::-webkit-progress-bar,
.progress::-webkit-progress-bar {
	background: #cccccc;
}

/*
 * Background of the progress bar value
 */

/* Firefox */
.detail::-moz-progress-bar,
.progress::-moz-progress-bar {
	border-radius: 5px;
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
}

/* Chrome */
.detail::-webkit-progress-value ,
.progress::-webkit-progress-value {
	border-radius: 5px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(43,194,83)),
		color-stop(1, rgb(84,240,84))
	);
	background-image: -webkit-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
}

/* Polyfill */
.detail[aria-valuenow]:before,
.progress[aria-valuenow]:before {
	border-radius: 5px;
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
	background-image: -ms-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
	background-image: -o-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
	
}


.child-name {
	font-family: Chunkfive;
	font-size: 20px;	
	color: white;
}

.age-text {
	font-family: Chunkfive;
	font-size: 20px;

}


/*
	Credit: 
	http://www.useragentman.com/blog/2012/01/03/cross-browser-html5-progress-bars-in-depth/
********************** Style HTML 5 Progress Bars (END) ************************************/


