
.wrapper{
	height:auto;
}


.content {

	margin: 0 auto;
	position: relative;
	top: 120px;
}

/*
.content > div {
	height: 39px;
	border-top: 1px solid #cccccc;

}

.content > div:last-child {
	border-bottom: 1px solid #cccccc;

}*/

.inner-text {
	position: relative;
	top: 12px;
	text-indent: 25px;
	vertical-align: middle;
}








/*
.textcontent {
	margin: 0 auto;
	padding-left: 25.5px;
	padding-right: 25.5px;
	font-family: helvetica, geneva, sans serif;
	padding-top:57px;
}

/*
.inner-text {

	position: relative;
	/*margin-left: 20px;*/	
	/*
	padding-top: 15px;
	font-family: helvetica, geneva, sans serif;
	padding-left: 25.5px;	
	padding-right: 25.5px;

}
*/
/*separate styling for st.joseph since the name is too long*/
/*.stJoseph {

	position: relative;
	margin-left: 20px;	
	padding-top: 15px;
	font-family: helvetica, geneva, sans serif;
	padding-left: 25.5px;	
	padding-right: 25.5px;

}*/

/*
.backarrow{

	position:relative;
	left:15px;

}
*/