.favoritesButton {
	background: url(star.jpg) no-repeat;
	background-size: 100%;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.test1 {
	background: url(google.jpg) no-repeat;
	background-size: 100%;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}