body {
	margin:0px 400px; padding:0px;
	text-align:center;
	border-color:black;
	border-style:solid;
	}

#day {
	font-size: 150px;
	text-align: center;
	margin-top: 41px;
}

#month{
	font-size:50px;
	text-align: center;
}

#home,#back{
	float:right;
}