.wrapper {
    background: #00549b;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position:relative;
}

#help {
	position: absolute;
	right: 0;
	top: 0;
}

#home {
	position: absolute;
	right: 50px;
	top: 0;
	width: 50px;
	height: 50px;

}

p {
	margin-right: 35px;
	word-wrap: break-word;

}

#cal-bt {
	position: absolute;
	right: 100px;
	top: 0;
	width: 50px;
	height: 50px;

}

#calendar-title {
    height: 50px;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    background: #769ECF;
}
#calendar-title-wrapper {
    height: 50px;
    width: 100%;
}
/*
#home-help-buttons {
    height: 50px;
    width: 101px;
    float: right;
}*/
/*
#home-help-buttons img {
    padding: 0px;
    float: right;
}*/

a {
	color: #f0502f;
}



body {
    margin:auto;
    padding:0px;
    background:#00549b;
}
#calendar-container{
    background: #00549b;
    width: 350px;
    height: 600px;
    position:relative;
}

#date {
    margin-top: 50px;
    padding-bottom: 15px;
    display: inline-block;
   /* background: #F0502F;*/
    width: 100%;
    
}

#day-text {
    margin: 0;
    text-align: center;
    font-family: Chunkfive;
    font-size: 80px;
    color: white;

text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 4px 4px #001135;

}

#month {
	position: relative;
	bottom: 20px;
}

#month-text{
    margin: 0;
    text-align: center;
    font-family: Chunkfive;
    font-size: 27px;
 text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 4px 4px #001135;  
color: white;

}

#activity {
    font: 16px arial;
    color: #FFF;
    margin-left: 25px;
    word-wrap: break-word;
    overflow:auto;
	margin-bottom: 20px;
}

#activity-head {
    font-family: Chunkfive;
    font-size: 26px;
    margin-bottom: 4px;
	display: block;
}

#event-head {
    font-family: Chunkfive;
    font-size: 26px;
    margin-left: 25px;
    margin-bottom: 4px;
    color: white;
    display: block;
    position: relative;
}

#events{
	margin-bottom: 20px;
    width:100%;
    position: relative;
	margin-left: 25px;
    color: white;
    font: 16px arial;
}

.events-wrapper{
    height:auto;
    border-bottom-color:white;
    border-top-color:white;
    border-width:thin;
    border-style:solid;
    
}
#home,#back{
    float:right;
}

.wrapper {
    height: auto;
    

}

#main-cal {
	position: relative;
	left: 25px;
}

