.wrapper{
	padding-top:50px;
}



#content {
	position: relative;
	top: 20px;
	margin-left: 25px;
}


.child-table {
	position: relative;
	margin-bottom: 15px;
	border: 1px solid #00549b;
	width:100%;
}

.black-white {

	-webkit-filter: grayscale(1);
}

.text {

	text-align: center;
	font-size: 20px;
	font-family: Chunkfive;

}

.black-white-text {
	color: gray;

}

.white-text {
	color: white;

}
.language{
	padding-top:33px;
	padding-left:25px;
	padding-bottom:35px;
}
/*******************************************************************/
.spritecell {
position: relative;
left: 0px;
	font-size:1em;
	border:1px solid #00549b;
	padding: 0;
	width: 200px;
	font-family: Chunkfive, arial, helvetica, sans-serif;
	color:#ffffff;
}


.sprite {
	width: 50px;
	height: 50px;

}
/*******************************************************************/
.nameCell {
	font-size:1em;
	border:1px solid #00549b;
	padding:3px 7px 2px 7px;
	text-align:center;
	font-family: Chunkfive, arial, helvetica, sans-serif;
	color:#ffffff;
	width:100%;
}

/*******************************************************************/
.ageCell {
position: relative;
font-size: 1em;
border: 1px solid #00549b;
padding: 3px 7px 2px 7px;
width: 130px;
float: right;
margin-right: 55px;
left:-40%;
}

/*******************************************************************/
.editCell {
	position: absolute;
	right: 50px;

}


.edit {
	width: 50px;
	height: 50px;

}





/*******************************************************************/



.deleteCell {
	position: absolute;
	right: 0;

}

.delete {
	width: 50px;
	height: 50px;

}


/*******************************************************************/
#options {
	position: relative;
	top: 20px;
	
	width: 230px;
	margin: 0 auto;
	display: block;
}

#langname{
	float:left;
}
#inputbox{
position: relative;
width: 120px;
float: right;
right:5px;
}
#addChild {
	position: relative;
}

#logout{
	position: relative;
	margin-left: 10px;
}
.ui-checkbox, .ui-radio {
	top:10px;
}
.ui-body-c, .ui-overlay-c {
text-shadow: none;
}
.ui-shadow{
	-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}

.ui-btn-up-a {
	background-color: #ffc579; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23));
	background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
	background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
	background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
	background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
	background-image: linear-gradient(to bottom, #ffc579, #fb9d23);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);
	border: 1px solid #ffad41;
	left:20px;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}

.ui-btn-hover-a {
	 border:1px solid #ff9913;
	 background-color: #ffaf46; 
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaf46), to(#e78404));
	 background-image: -webkit-linear-gradient(top, #ffaf46, #e78404);
	 background-image: -moz-linear-gradient(top, #ffaf46, #e78404);
	 background-image: -ms-linear-gradient(top, #ffaf46, #e78404);
	 background-image: -o-linear-gradient(top, #ffaf46, #e78404);
	 background-image: linear-gradient(to bottom, #ffaf46, #e78404);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffaf46, endColorstr=#e78404);
	border: 1px solid #ffad41;
	left:20px;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}

.ui-btn-down-a {
	background-color: #ffc579; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23));
	background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
	background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
	background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
	background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
	background-image: linear-gradient(to bottom, #ffc579, #fb9d23);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);
	border: 1px solid #ffad41;
	left:20px;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}
	
.ui-btn-up-b {
	background-color: #ffc579; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23));
	background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
	background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
	background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
	background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
	background-image: linear-gradient(to bottom, #ffc579, #fb9d23);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);
	border: 1px solid #ffad41;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}

.ui-btn-hover-b {
	 border:1px solid #ff9913;
	 background-color: #ffaf46; 
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaf46), to(#e78404));
	 background-image: -webkit-linear-gradient(top, #ffaf46, #e78404);
	 background-image: -moz-linear-gradient(top, #ffaf46, #e78404);
	 background-image: -ms-linear-gradient(top, #ffaf46, #e78404);
	 background-image: -o-linear-gradient(top, #ffaf46, #e78404);
	 background-image: linear-gradient(to bottom, #ffaf46, #e78404);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffaf46, endColorstr=#e78404);
	border: 1px solid #ffad41;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}

.ui-btn-down-b {
	background-color: #ffc579; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23));
	background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
	background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
	background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
	background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
	background-image: linear-gradient(to bottom, #ffc579, #fb9d23);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);
	border: 1px solid #ffad41;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}

.ui-btn-corner-all {
	-webkit-border-radius: 0.2em /*{global-radii-buttons}*/;
	border-radius: 0.2em /*{global-radii-buttons}*/;
}