a.radio-fx span, a.radio-fx {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
}
#color-list .radio, #color-list .radio-checked, #color-list a.radio-fx {
    width: 60px;
    height: 60px;
}

#color-list #red {

	background: url(../images/red.jpg) no-repeat;
}


#color-list #navy {

	background: url(../images/navy.jpg) no-repeat;


}
#color-list #green {

	background: url(../images/green.png) no-repeat;


}
#color-list #purple {

	background: url(../images/purple.jpg) no-repeat;

}

#color-list #orange {

	background: url(../images/orange.jpg) no-repeat;
}

#color-list #blue {
	background: url(../images/blue.jpg) no-repeat;

}

#color-list #magenta {
	background: url(../images/magenta.jpg) no-repeat;

}

#color-list #pink {
	background: url(../images/pink.jpg) no-repeat;
}

#color-list #lime-green {
	background: url(../images/lime-green.jpg) no-repeat;
}

#color-list #brown {
	background: url(../images/brown.png) no-repeat;
}

#color-list .radio-checked {

	border: 2px gold solid;
}

