#mainText {
	position: relative;
top: 60px;
margin-left: 25px;
}

#sprite {
	display: block;

	padding: 0;
	margin-top: 100px;
	margin-left: 100px;
	background: #ffffff;
}



#form {
	margin: 0 auto;
	padding: 0;
	border-radius: 10px;
	margin-left: 25px;
}


/*************************************************************/
#name-input-box {
	display: block;

	margin: 0 auto;


}

#name {
	width: 255px;

}


/************************************************************/


#content {
    position: relative;
    bottom: 30px;	

}
/*
.input-box {

	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 99%;

padding-top: 5px;
padding-bottom:5px;
	border-radius: 10px;

}
*/

/***************************** birthdays ************************************/
#bday {
	width: 255px;

}


/*
#birthday-select {
	top: 100px;
	border: 2px solid white;

margin-top: 40px;
}

#birthday {
width: 170px;

}

#birthday p {
	font-family: arial;

}*/

/************************* gender **********************/
#gender-line {
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 30px;
	height: 30px;
	border-width: 0px 0px 1px 0px;
	background-color: transparent;
	border-bottom: 1px solid white;
	border-bottom-right-radius: 10px;
	margin-top: 5px;
	font-size: 15px;
	text-indent: 10px;
	color: white;
	width:250px;
}

#gender-line > p {
	text-transform:uppercase; 
	color: white;
	opacity: 0.85;
	font-size: 15px;
	position: absolute;
	top: 5px;
	
}

#gender {
	position: absolute;
	right: 5px;
	bottom: -5px;
	width: 55px;
	height: 43px;
}

#boy {
	position: absolute;
	left: 0;
	top: 0;
}

#boy-label {
	position: inherit;
	left: 10px;
	top: 0;
}

#girl {
	position: absolute;
	left: 0;
	top: 18px;

}

#girl-label {
	position: inherit;
	left: 10px;
	top: 18px;
}

label {
	position: relative;
	left: 10px;
	font-size: 16px;
	color: white;
	font-family: arial;
}


/*
#gender-select {

    margin: 0 auto;
    border: 2px white solid;
    top: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#gender-select p {
	margin: 0;

	font-family: arial;
}

#gender-select #gender-choices {
	position: relative;

}


label {
	position: relative;
	left: 10px;
		  font-size: 16px;
color: white;
}
*/
/****************************************************************************/
/*************************************************************/


#color-select {
	position: relative;
	top: 10px;
	left: 20px;
}

#color-select > p:first-child {
	margin-bottom: 10px;
}

#color-box{
	margin: 0 auto;
	display: block;
	width: 55px;
}


/* Color select code here */
/* The outside box of the div */
/*
#color-select {
	border: 2px solid white;
	position: absolute;
	top: 290px;
	height: 70px;
		padding-bottom: 5px;
}

#color-select p {
	font-family: arial;


}
*/
/* The div containing the div... kinda awkward? */
/*#colorSelector {
position: absolute;
		  margin-top: 5px;

	
}
*/
/* Contains the actual box */
/*
#colorSelector div {
	width: 30px;
	height: 30px;
	border: 2px solid black;
			border-radius: 3px;
}

*/

/*************************************************************/


/* Options list */

#options-list {	
position: absolute;
top: 430px;
left: 25px;
width:100%;
}

#result {
	position: absolute;
	top: 490px;
	margin-left: 25px;

}

#child-add {
	margin-right: 5px;

}

#finish {
	margin-left: 5px;
}
