#mainText {
	position: relative;
top: 60px;
left: 25px;
}

#sprite {
	display: block;
	margin: 0 auto;
	padding: 0;
	margin-top: 60px;
	background: #7ca3dc;
}



#form {
	margin: 0 auto;
	padding; 0;
	border-radius: 10px;
}



label {
	position: relative;
	left: 10px;
color: white;
}



/* Options list */

#option-link {
clear: both;
position: relative;
top: 120px;
}

#child-add {
	text-align:center;
	top: 150px;
}

#finish {
	text-align:center;
	top: 150px;
}


#childname {
	border: 2px solid white;
	background-color: #fbae42;
	position: relative;
	top: 80px;
}

#childbd {
	border: 2px solid white;
	background-color: #f0502f;
	position: relative;
	top: 85px;
}



/*************************************************************/
#name-input-box {
display: block;

left: 40%;

margin: 0 auto;
	top: 30px;

}

#name-input {
	width: 250px;

}

/*
#name-input {
	border: 0px;
	width: 95%;
	text-align: center;
	background-color: #fbae42;
	
}
*/
/* Styles the placeholder of the input */
/*#name-input::-webkit-input-placeholder { 
	color:#dddddd; 
	text-transform:uppercase; 
	opacity: 50%;
}*/



#gender-select {
    background-color: #fbae42;	
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px white solid;
    position: relative;
    top: 90px;
}

#gender-select p {
	margin: 0;
	text-align: center;
}

#gender-select * {
	text-align: left;
}

#gender-select ul {
    list-style: none;
    position: relative;
    left: 73px;
}
.input-info {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 95%;	
	border-radius: 10px;

}


#content {
    position: relative;
    bottom: 30px;	

}

/*************************************************************/

/* Color select code here */
/* The outside box of the div */
#color-select {
	border: 2px solid white;
	background-color: #f0502f;
	position: relative;
	top: 96px;
	height: 80px;
}

/* The div containing the div... kinda awkward? */
#colorSelector {
position: relative;
left: 49%;
	
	text-align: center;

}

/* Contains the actual box */
#colorSelector div {
	width: 30px;
	height: 30px;
	border: 2px solid white;
			border-radius: 3px;
}
