#login-wrapper {
	background: #7ca3dc;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}


#titleBar {
	height: 50px;
	width: 350px;
	background: #00549b;

}
#mainText {
	width: 300px;
	padding-top: 57px;
	line-height: 1px;
	margin-bottom: 50px !important;
	margin:0 auto;
}


p {
	font: 16px Arial, Helvetica, sans-serif;
	color: #FFF;
	text-align:center;
}

#fail {
	margin-top: 10px;
	padding-left: 25px;
}

#login-fields {
display: block;
		 text-align: center;
position: relative;
left: -15px;

}

#new-user {
	margin-right: 5px;

}


#login {
	margin-left: 5px;

}

#option-links {
position: relative;
top: 65px;
text-align:center;
}
