#mainText {
	width: 100%;
	padding-top: 35px;
	line-height: 20px;
	margin-bottom: 25px;
	color: white;
	position: relative;
	text-align: center;
}



/* The input fields **********************************/
#personal-info {
display: block;
text-align: center;
position: relative;

	  margin-bottom: 30px;
}


#firstname {
	display: inline-block;

}

#firstname-box {
	

}

#lastname-box {
	position: relative;


}

/***************************/
#login-info{

display: block;
position: relative;
text-align:center;
}


#login-info-buttons {
	
}

#email {
width: 110%;
}

#password {
width: 110%;

}

#confirm {
width: 110%;

}

/*
#password {
	background: #f0502f;
	border: medium solid #FFF;
}
#email {
	background: #f0502f;
	border: medium solid #FFF;
}
#lastname {
	background: #f0502f;
	border: medium solid #FFF;
}
#firstname {
	background: #f0502f;
	border: medium solid #FFF;
}
#phone {
	background: #f0502f;
	border: medium solid #FFF;
}*/


/*******************************************************/


#verify-registration {
	display:block;
top: 50px;
width:90%;
margin:0 auto;
}





/*
.text-input {
	display: block;
	height: 50px;
	width: 95%;	
	margin: 0 auto;
	padding: 0;
	margin-bottom: 5px;
	
	background: #f0502f;
	border: medium solid #FFF;
	
	text-indent: 25px;
	border-radius: 10px;
	color: white;


}
*/

form{
	height:100%;
}



.fail {
	margin-top: 10px;
	margin-left: 25px;


}
