.arrow {
	position: absolute;
	top: 55px;
}

.right {
	right: 0px;
}

.left {
	left: 12px;
}

.title-box {
	height: 50px;
	text-align: center;
	position:relative;
}

.title-text {
	position: relative;
	margin: 0 auto;
	top: 30%;
	font-family: Chunkfive;
}
#page1 ,#page2{
	position:relative;
}

.ui-content {
	padding-top: 0;
}

.ui-collapsible-inset .ui-collapsible-content {
	line-height: 1.3em;
}
.ui-collapsible-content li{
	color:white;
}
.ui-collapsible-content, .ui-collapsible-set .ui-collapsible.ui-last-child {
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
}
.ui-mobile, .ui-mobile body {
	background:#00549b;
}


.ui-mobile .ui-page-active {
	background:#00549b;
}
.ui-body-c{
	text-shadow:none;
}