#title-screen-wrapper {
	height: 100%;
	width: 100%;
	background: #00529b;
	margin: 0 auto;
}

body {
	background: #00529b;

}

#logo {
	margin-right: auto;
	margin-left: auto;
	height: auto;
	max-width: 100%;
	margin-top:30px;
	display:block;
}


#english-espanol-wrapper {
	height: auto;
	width: 125px;
	max-width: 100%;
	margin: 0 auto 0 auto;
}

/*
#english-espanol {
	position: relative;
	margin: 0 auto;

}*/

#english-espanol li{
	padding-top:7px;
	padding-bottom:7px;
}




#checkbox {
	background: #FFF;
	height: 25px;
	width: 25px;
	float: left;
	margin-top: 7px;
	margin-right: 7px;
}
		
	
	
#get-started {
	position: relative;
	width: 110px;
	
	height: auto;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	display:block;
	margin-top:30px;
}

label {
	color: white;
	font-family: arial;	
	font-size: 20px;
}



/*mobile phones */
/*
@media only screen and (min-device-width: 320px){
label {
	font-size: 60px ;
}

}*/

/*tablets*/
/*
@media only screen and (min-device-width:768px){
#logo {
	padding-top: 30px;
}
#get-started {
	padding-top: 20px;
}
label {
	font-size: 75px ;
}
}*/
