
/**************** RED GRADIENT *******************/

.how-to-use {
	width: auto;
	height: 47px;
	font-size:25px;
	font-family: Chunkfive, arial, helvetica, sans-serif;
	font-weight:normal;
	border:1px solid #f07e76;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f24537), color-stop(100%, #ff8c82) );
	background:-moz-linear-gradient( center top, #f24537 5%, #ff8c82 100% );
	background:-ms-linear-gradient( top, #f24537 5%, #ff8c82 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#ff8c82');
	background-color:#f24537;
	color:#ffffff;
	display:block;
	text-shadow:2px 0px 0px #cc9f52;
	-webkit-box-shadow:inset 1px 1px 0px 0px #fce2c1;
	-moz-box-shadow:inset 1px 1px 0px 0px #fce2c1;
	box-shadow:inset 1px 1px 0px 0px #fce2c1;
	line-height: 200%;
}

.how-to-use:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ff8c82), color-stop(100%, #f24537) );
	background:-moz-linear-gradient( center top, #ff8c82 5%, #f24537 100% );
	background:-ms-linear-gradient( top, #ff8c82 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c82', endColorstr='#f24537');
	background-color:#ff8c82;
}

.how-to-use:active {
	position:relative;
	top:1px;
}


/**************** YELLOW GRADIENT *******************/

.faq {
	width: auto;
	height: 47px;
	font-size:25px;
	font-family: Chunkfive, arial, helvetica, sans-serif;
	font-weight:normal;
	border:1px solid #eeb44f;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffc477), color-stop(100%, #ffc83d) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #ffc83d 100% );
	background:-ms-linear-gradient( top, #ffc477 5%, #ffc83d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#ffc83d');
	background-color:#ffc477;
	color:#ffffff;
	display:block;
	text-shadow:2px 0px 0px #cc9f52;
	-webkit-box-shadow:inset 1px 1px 0px 0px #fce2c1;
	-moz-box-shadow:inset 1px 1px 0px 0px #fce2c1;
	box-shadow:inset 1px 1px 0px 0px #fce2c1;
	line-height: 200%;
}

.faq:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffc83d), color-stop(100%, #ffc477) );
	background:-moz-linear-gradient( center top, #ffc83d 5%, #ffc477 100% );
	background:-ms-linear-gradient( top, #ffc83d 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc83d', endColorstr='#ffc477');
	background-color:#ffc83d;
}

.faq:active {
	position:relative;
	top:1px;
}



/**************** BLUE GRADIENT *******************/

.langsettings {
	width: auto;
	height: 47px;
	font-size:25px;
	font-family:Chunkfive, arial, helvetica, sans-serif;
	font-weight:normal;
	border:1px solid #84bbf3;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #bddbfa), color-stop(100%, #80b5ea) );
	background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
	background:-ms-linear-gradient( top, #bddbfa 5%, #80b5ea 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
	background-color:#bddbfa;
	color:#ffffff;
	display:block;
	text-shadow:2px 0px 0px #528ecc;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #dcecfb;
 	-moz-box-shadow:inset 1px 1px 0px 0px #dcecfb;
 	box-shadow:inset 1px 1px 0px 0px #dcecfb;
 	line-height: 200%;

}.langsettings:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #80b5ea), color-stop(100%, #bddbfa) );
	background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
	background:-ms-linear-gradient( top, #80b5ea 5%, #bddbfa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
	background-color:#80b5ea;

}.langsettings:active {
	position:relative;
	top:1px;
}

/**************** GREEN GRADIENT *******************/

.contact {
	width: auto;
	height: 47px;
	font-size:25px;
	font-family: Chunkfive, arial, helvetica, sans-serif;
	font-weight:normal;
	border:1px solid #83c41a;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #b8e356), color-stop(100%, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	background:-ms-linear-gradient( top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	color:#ffffff;
	display:block;
	text-shadow:2px 0px 0px #cc9f52;
	-webkit-box-shadow:inset 1px 1px 0px 0px #fce2c1;
	-moz-box-shadow:inset 1px 1px 0px 0px #fce2c1;
	box-shadow:inset 1px 1px 0px 0px #fce2c1;
	line-height: 200%;
}
.contact:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #a5cc52), color-stop(100%, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	background:-ms-linear-gradient( top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
	
}
.contact:active {
	position:relative;
	top:1px;
}


#button-wrapper {
	position: relative;
	top: 50px;


}
