.list-item {
	position: relative;
	height: 50px;
	width: 100%;

}



.item-text-box {
display: block;
width: 80%;
float: left;
margin-right: 45px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
color: white;
}

.item-text-box a {
	min-height: 60px;
	color: white;
	font-size: 18px;
	overflow: hidden;
	font-size: 16px;
	/*white-space: nowrap;*/

}

/******************** delete ***********************/

.delete-box {
	height: 40px;
	width: 40px;
	
	position: absolute;
	right: 0;
	top: 0;
	
	display: inline-block;
	float: right;
	
}


.delete {
	height: 100%;
	width: 100%;
	float: right;
	position: relative;
}


/******************** accordion ***********************/

#title-box {
	position: relative;

	text-align: center;
	top: 55px;

}

#title-box > h2 {
	position: relative;
	top: 30%;
	font-family: Chunkfive;

}


#page1 {
	position:relative;
	top:55px;
}


#set, #content {
	margin-top: 0;
}

