.list-item {
	min-height: 60px;
	width: 100%;
	border-top: 2px solid #003366;
	border-left: 2px solid #003366;
	border-right: 2px solid #003366;
}

.last-item {

	border-bottom: 2px solid #003366;
}

.item-text-box {
	display: block;
	float: left;
	width: 70%;
	padding: 10px;
}

.item-text-box a{
	color: white;
	font-size: 18px;


}

.delete-box {

	display: block;
	float: right;
	position: relative;
}


/********************* Parity ************************/
.even {

	background-color: #9999FF;
}
.odd {
	background-color: #00549b;

}

.delete {
	width: 40px;
	height: 40px;
	position: relative;
	margin-right: 10px;
	margin-top: 20%
}
