<<<<<<< Updated upstream
html{
	background:#00549b;
}
#home-help-buttons {
	height: 50px;
	width: 101px;
	float: right;
}
#home-help-buttons img {
	padding: 0px;
	float: right;
}
#favorites-wrapper {
	width: 350px;
	height: 600px;
	margin: 0 auto;
	padding: 0;
	
	background: #00549b;
}
p {
	font: 12px Arial, Helvetica, sans-serif;
	color: #FFF;
	line-height:50px;
	padding-left: 23px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right:103px;
=======
/*.delete {

	background: url(../../images/remove-button.png) no-repeat;
	background-size: 100%;
>>>>>>> Stashed changes
}
*/
.list-item {
	min-height: 60px;
	width: 100%;
	border-top: 2px solid #003366;
	border-left: 2px solid #003366;
	border-right: 2px solid #003366;
}

.last-item {

<<<<<<< Updated upstream
.favorites-item {
	height: 50px;
	width: 100%;
	border-bottom: medium solid #769ECF;
}
#favorites-title {
	background: #769ECF;
	height: 50px;
	width: 350px;
}

.delete {
	width: 50px;
	height: 50px;
	position: relative;
	float:right;
	bottom: 50px;
	background: url(../images/remove-button.png) no-repeat;
}

.share {
	width: 50px;
	height: 50px;
	position: relative;
	float:right;
	bottom: 50px;
	background: url(../images/share-button.png) no-repeat;
=======
	border-bottom: 2px solid #003366;
}

.item-text-box {
	display: block;
	float: left;
	width: 70%;
}

.item-text-box a{
	color: white;
	font-size: 18px;
>>>>>>> Stashed changes

}

.delete-box {

	display: block;
	float: right;
	position: relative;
}


/********************* Parity ************************/
.even {

<<<<<<< Updated upstream
.headline {
width: 100%;
height: 50px;

	border-bottom: medium solid #769ECF;

}

.cat-logo {
	width: 50px;
	height: 50px;
	position: absolute;
	right:0;

}

.cat-name {
	line-height:50px;
	padding-left: 23px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#list-container {
	/*position: relative;*/
	bottom: 10px;
	padding-top:57px;
}
=======

	background-color: #00549b;
}

.odd {
>>>>>>> Stashed changes

	background-color: #9999FF;
}
