/*#home-help-buttons {
	height: 50px;
	width: 101px;
	float: right;
}
#home-help-buttons img {
	padding: 0px;
	float: right;
}
#news-title {
	height: 50px;
	width: 350px;
	background: #769ECF;
}
#news-wrapper {
	width: 350px;
	background: #FFF;
	height: 600px;
}
*/